.footer{
    height: 165px;
    background: #102749;
}


.footer{
	background: #102749;
    height: 165px;
    width: 100%;
    position: relative;
}


.footer h5 {
    display: block;
    color: #fff;
    font-size: 1em;
    line-height: 160px;
    right: 60px;
    position: absolute;
    font-weight: 700;
}    

.footer h5 span {
    font-size: 0.8em;
    margin-left: 30px;
    font-weight: 400;
}

.stars{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.footer .logo{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 60px;
}

.footer .get-in-touch {
    position: absolute;
    right: 60px;
}

.footer .get-in-touch h5{
	position: relative;
    right: 180px;
    margin-right: 36px;
}

.footer .get-in-touch .social {
    position: absolute;
    right: 0;
    top: 52px;
    font-size: 100%;
}

.footer .social a {
    color: #fff;
    font-size: 31px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.footer .praktik-credit {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    font-size: 10px;
    color: rgba(255,255,255,0.15);
    text-align: center;
}
