
.section5{
	position: relative;
	text-align: center;
	height: 448px;
	padding-bottom: 30px;
    background-color: #124ea0;
    background-size: 100%;
    background-image: -moz-linear-gradient(left, #124ea0 0%, #15b2d1 100%);
    background-image: -webkit-linear-gradient(left, #124ea0 0%, #15b2d1 100%);
    background-image: linear-gradient(to right, #124ea0 0%, #15b2d1 100%);
}

.section5 .data5{
	margin-top: 40px;
	max-width: 1000px;
	text-align: justify
}

.section5  h1{
	color: white;
	font-size: 3em;
    padding: 40px 0;
    font-weight: 300;
}

.section5 .data5 #article h2{
	color: #fff;
    line-height: 1.25;
    font-size: 1em;
    font-weight:700;
}

#article h3{
	font-size: 0.7em;
    color: #fff;
    line-height: 1.25;
    padding: 10px 0;
}

.data5 {
	width: 85%;
	text-align: center;
	margin: auto;
}

.data5 {
	display: flex;
	color: white;
}

.data5 #article{
	width: 33%;
	padding: 0 30px;

}

#article a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
    color: #fff;
    display: block;
    font-size: 0.7em;
}

#article a::after{
	content: ' ↗';
    display: inline-block;
    font-size: 0.8em;
    margin-left: 6px;

}

.readall{
	font-variant: small-caps;
    font-size: 1em;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
}

.line{
	margin-top: ;
	width: 68%;
	height: 1px;
	background-color: white;
	margin:30px auto;
}

.line a:hover{
	color: white;
}

