
/* ************************************************** section 2 (Solutions) ***************************************************** */

.section2{
	background-image: url('../Images/banking.jpg');
	color: white;
	position: relative;
    background-size: cover;
	z-index: 0;
}

.solutions{
    position: relative
}

.section2 .overlay{
	position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: -1
}

.data2{
    max-width: 700px;
    width: 85%;
    margin: auto;
}

.data2 h1{
    max-width: 700px;
    margin: auto;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 3em;
    padding: 50px 0;
    font-weight: 300;
    text-align: center
}

.data2 p{
    max-width: 700px;
    margin: auto;
    text-align: center;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 300

}

/* whole box  */

.box{
    height: 55vh;
}


.box{
    margin-top: 50px;
}

.box ul{
    padding-left: 2%;
    text-align: justify;
    float: left;
    border-right: 2px solid #FFAF00;
    width: 19%;
}

.box ul li{
    display: block;
    font-size: 1.1em;
    color: #fff;
    padding: 16px 0;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease
}

.box ul #agri:hover{
    color: #9ec000;
}

#agri .btna:hover{
    background-color: #9ec000;
    color: white;
}

.box ul #msme:hover{
     color: #0767b2;
 
    
}
.box ul #fmcg:hover{
    color: #00b0bd;
    
}
.box ul #retail:hover{
    color: #0f4ef7;
}
.box ul #govt:hover{
    color: #10a1df;
}

.box ul #health:hover{
      color:  #21b334;
   
}


.box .right{
    width: 80%;
    padding-left: 30px;
    float: right
}

.right img{
    margin-top: 30px;
    height: 60px;
    display: block;
}

.right{
    padding-left: 10px;
}


.right h3{
    padding: 10px 0;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.25;
}

.right p{
	color: #fff;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.25;
    margin-top: 2em;
    font-weight:400
}


.might{
     border-color: rgb(255, 175, 0);
     color: white;
}

.readmore{
	font-size: 1em;
    border-radius: 25px;
    padding: 5px;
    font-variant: small-caps;
    width: 200px;
    background: transparent;
    margin-top: 40px;
    letter-spacing: 0.15em;
    font-weight: 700;
    cursor: pointer;
}


/* **************************************************** Buttons ********************************************** */

.btm2 {
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    text-indent: 0
}

.btm2 h3{
    font-size: 1.2em;
    font-weight: 400;
}

.btna {
    height: 38px;
    margin-top: 30px;
    color: rgb(255, 175, 0);
    border: 2px solid rgb(255, 175, 0);
    font-size: 0.8em;
    border-radius: 30px;
    width: 200px;
    padding-bottom: 30px;
    padding-top: 15px;
    background: transparent;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btna:hover {
    color: white;
    cursor: pointer
}

.btna2:hover {
    background-color: rgb(255, 175, 0);
    color: black;
    cursor: pointer
}

 .btn2{
    height: 38px;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 0.7em;
    border-radius: 25px;
    padding: 6px;
    background: transparent;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.might1{
 width: 100px;
 color: rgb(255, 175, 0);
 border: 2px solid rgb(255, 175, 0);
}

.might2{
 width: 100px;
 color: #00b0bd;
 border: 2px solid #00b0bd;
}

.might3{
 width: 130px;
 color:#9ec000;
 border: 2px solid #9ec000;   
}

.might1:hover{
  background-color: rgb(255, 175, 0);
  color: white;
}

.might2:hover{
    background-color: #00b0bd;
    color: white;
}

.might3:hover{
    background-color:#9ec000;
    color: white;
}

.mybtn:hover{
    color: black;
    background-color: #fff;
}



/* *****************************************  Buttons End  *********************************************************************** */












