@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');


*{
	margin: 0;
	box-sizing: border-box;
	list-style: none;	
}

body{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
}

a{
	text-decoration: none
}

/* ********************************************  Section 0   ********************************************************************** */

.section0{
	background-image: url('../Images/sun.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 90vh;
	color: white;
	max-height: 750px
}

.container1 .section0{
	display: flex;
	justify-content: center;
	align-items: center;
}

.data0 {
	width: 85%;
	text-align: center;
}

.section0 .data0 h1{
	position: static;
	font-weight: 300;
	font-size: 4.5rem;
    margin-bottom: 30px;
    height: auto !important;
} 


.section0 .data0 h2{
	font-weight: 300;
	line-height: 1.25;
    width: 100%;
    font-size: 1.5em;

}

/* ***************************************************  Section 1 (Who) *************************************************************** */

.section1{
	height: 100%;
}

.section1 .star,.bg
{
	height: 100%;
	width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
}
.star{
	z-index: -1;
}

.bg{
	z-index: -2
}

.section1 .data1{
	width: 80%;
	margin: auto;
	text-align: center;

}


.section1 h2{
	margin: auto;
	width: 700px;
	color: #102749;
    line-height: 1.25;
    font-size: 1.15em;
    padding-top: 30px;
    font-weight: 400;
    padding-bottom: 18px;
    text-align: center
}


.section1 p{
	margin: auto;
	width: 700px;

}

.data1 h2{
	text-indent: 30px;
    line-height: 1.25;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 18px;
    font-size: 1.15em;
}


.section1 h1{ 
   color: #202A38;
    font-size: 3em;
    padding: 50px 0;
    font-weight: 300;
    text-align: center;
}

 
.container1 .btn1 {
	height: 38px;
	margin-top: 40px;
	color: #2B5591;
    border: 2px solid #2B5591;
    font-size: 0.7em;
    border-radius: 25px;
    padding: 6px;
    width: 210px;
    background: transparent;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}


.btn1:hover {
	background-color: #2B5591;
	color: white;
	cursor: pointer
}


.space{
	width: 100%;
	padding: 50px 0;
}

.section1 .number{
	justify-content: space-evenly
}

.number{
	display: flex;
	margin-top: 80px;
}

.number span{
	font-size: 3.5em;
    color: #102749;
    display: block;
    padding-bottom: 8px;
}

.number h4{
	                
	color: #102749;
    font-size: 1.1em;
    font-weight: 400;
}






