body{
	background-color: white;
}
.alpha ul{
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	background-color: #00bcd421;
	

}

.alpha li{
	height: 400px;
	width: 180px;
	border: 1px solid blue;
	margin: auto;	
}


.container-p ul li .img{
	width: 100%;
	height: 60%;
	background-size: 100% 100%;
	background-repeat: no-repeat
}

.container-p{
	margin: auto;
	min-height: 450px;
}

.product-container{
	margin:15px;
	height: auto ;
	overflow: scroll;
	display: flex;
	justify-content: center;
	padding: 0 10px;
	position: relative
}

.product-card{
	margin: 20px;
	width: 300px;
	height: auto;
	border-radius: 5px;
	background-color: mintcream;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	display: inline-block;
	position: relative;
	padding-bottom:10px ;
}

.product-card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-image{
	width: 300px;
	height: 200px;
	/* background-color: #459c94; */
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}


.product-image img{
	height: 90%;
	width: 90%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 


.quatity{
	display: flex;
	justify-content: space-evenly;
	padding: 10px 0;
}

h3{
	font-family: open-sans sans-serif
}

.plus,.minus{
	font-size: 25px;
	cursor: pointer;
	color: blue;
}

.value{
	font-size: 25px;
	color: blue;
}

.content{
	text-align: center;
	position: relative
}

.price{
	margin: 10px 0;
}

.name{
	margin: auto;
}

.button{
	margin: auto;
	
	width: 200px;
}


button{
	position: absolute;
	bottom:-12px;
	left: 50%;
	right: 50%;
	transform: translate(-50%);
	padding: 5px 0;
	width: 120px;
	border-radius:50px;
	border: 1px solid white;
	background-color: red;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	cursor: pointer;
	overflow: hidden;
}


.price{
	color: green;
	font-size: 20px;
}



.description{
	margin: auto;
	width: 90%;
	font-size: 14px;
}

