@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Signika:wght@700&family=Slabo+27px&display=swap');


*{
	font-family: 'Signika', sans-serif;
	font-family: 'Slabo 27px', serif;
}


.name h3 {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    height: 36px;
    -webkit-line-clamp: 2;
}

h3 {
    color: #cc7b7b;
    font-weight: 900;
}

.cart-product-image{
    width: 100%;
    max-height: 50%;

}


.start-n{
    display: flex;
    justify-content: center
}