/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap'); */

*{
	margin: 0;
	box-sizing: border-box;
	list-style: none;	
}

body{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
}

a{
	text-decoration: none
}

/* ********************************************  Section 0   ********************************************************************** */

.section0{
	background-image: url('../Images/sun.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 90vh;
	color: white;
	max-height: 750px
}

.container1 .section0{
	display: flex;
	justify-content: center;
	align-items: center;
}

.dots{
	text-align:center;bottom:30px; 
}

.data0 {
	width: 85%;
	text-align: center;
}

.section0 .data0 h1{
	position: static;
	font-weight: 300;
	font-size: 4.5rem ;
    margin-bottom: 30px;
    height: auto !important;
} 


.section0 .data0 h2{
	font-weight: 300;
	line-height: 1.25;
    width: 100%;
    font-size: 1.5em;

}

/* ***************************************************  Section 1 (Who) *************************************************************** */

.section1{
	height: 100%;
	position: relative;
	font-size:20px;
	font-weight:400
}

.section1 .star,.bg
{
	height: 100%;
	width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
}
.star{
	z-index: -1;
}

.bg{
	z-index: -2
}

.section1 .data1{
	width: 80%;
	margin: auto;
	text-align: center;

}


.section1 h2{
	margin: auto;
	max-width: 780px;
	color: #102749;
    line-height: 1.25;
    font-size: 1.15em;
    padding-top: 30px;
    font-weight: 400;
    padding-bottom: 18px;
    text-align: center
}


.section1 p{
	margin: auto;
	max-width: 700px;

}

.data1 h2{
	text-indent: 30px;
    line-height: 1.25;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 18px;
    font-size: 1.15em;
}


.section1 h1{ 
    color: #202A38;
    font-size: 3em;
    padding: 50px 0;
    font-weight: 300;
    text-align: center;
}

 
.container1 .btn1 {
	height: 38px;
	margin-top: 40px;
	color: #2B5591;
    border: 2px solid #2B5591;
    font-size: 0.7em;
    border-radius: 25px;
    padding: 6px;
    width: 210px;
    background: transparent;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn1:hover {
	background-color: #2B5591;
	color: white;
	cursor: pointer
}

.space{
	width: 100%;
	padding: 50px 0;
}

.section1 .number{
	justify-content: space-evenly
}

.number{
	display: flex;
	margin-top: 80px;
}

.number span{
	font-size: 3.5em;
    color: #102749;
    display: block;
    padding-bottom: 8px;
}

.number h4{   
	color: #102749;
    font-size: 1.1em;
    font-weight: 400;
}

@media screen and (max-width: 768px){

	 .section0 .data0 h1{
	    margin-bottom: 30px;
	    font-size: 3rem ;
    }

    .section0{
    	height: 70vh;
    } 

    .section0 .data0 h2{
	  width: 80%;
	  margin: 0 auto;
	  font-size: 1.3em;
    }

	.section1 .data1{
		width: 90%;
	}

	.section1 h2{
		width: 90%;
	}

	.data1 h1{
		padding-bottom: 20px;
	}

	.number{
		margin-top: 50px
	}

	.space{
		padding: 30px 0;
	}

	.section1 {
		font-size: 16px;
    }

    .section1 h2{
		margin: auto;
		width: 80%;
		line-height: 1.25;
		font-size: 1em;
    }

    .section1 h1{ 
	    font-size: 3em;
	    padding: 50px 0;
	}

	#youtube {
		margin: 0;
		max-width: 100%;
	}

	.data1{
		text-align: center;
		margin-left: 0;
	}

	.section1 h1{ 
	    font-size: 3.4em;
	}




}



@media screen and (max-width: 540px){

	.section1 h2 {
		width: 90%;
	}

	section0 .data0 h1 {
	    margin-bottom: 30px;
	    font-size: 2.2rem;
	}

	.section1 h1{ 
	    font-size: 3em;
	    padding: 30px 20px ;
	}

	.container1 .btn1{
		margin-top: 0px;
	}
	.section0 .data0 h2{
	  width: 85%;
	  font-size: 1.2em;
    }


	
}


@media screen and (max-width: 480px){


	.section0{
    	height: 60vh;
    } 

	.header img {
	    height: 30px;
	    width: 100px;
	}

	.header {
    height: 60px;
   
	}

	.dropbtn{
		font-size: 1.1em;
	}

	.section0 .data0 h2{
	  width: 90%;
	  font-size: 1.1em;
    }
}


@media screen and (max-width: 425px){

	.section0 .data0 h1{

	    font-size: 2.3rem;
	}


	.container1 .btn1 {
		margin-top: 0;
	    padding: 6px;
	    width: 160px;
	}

	.line{
		width: 90%;
	    max-width: 1000px;
	    height: 1px;

	}

	.section5 .data5 #article h2 {
	    font-weight: 700;
	    font-size: 0.9em;
	}

}

@media screen and (max-width: 375px){
	.section1 h2 {
	    width: 95%;
	    max-width: 700px;

	}

	.section1 p{
		font-size: 16px;
		
	}

}



