/* /* /* /* *************************************** Section 3 *************************************************************************** */

.section3{
  background-color: yellow;
  width: 100%; 
  height: 220px;
  padding-bottom: 80px;

}

.section3 h1{
  height: 160px;
  color: #202A38;
  font-size: 3em;
  padding: 50px 0;
  font-weight: 300;
  text-align: center;
}


/* *************************************** Section 4 *************************************************************************** */

.mySlides {
  display: none;
  text-align: center;
}

img {vertical-align: middle;}


/* Caption text */
.text {
  text-align: justify;
  width: 85%;
  position: fixed;
  top: 20%;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text h1{
  color: #fff;
  line-height: 1.25;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 2.4em;
  font-weight: 700;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

p{
  width: 70%
}

.active {
  background-color: #717171;
}

.fade .text{
  position: absolute;
 left:7.5%;
 top: 15%;
 text-align: center
}

.fade .text p{
   margin: auto;
   padding:40px 0 ;
   line-height:40px;
   text-align: justify

}

.fade .text {
  margin: auto;
  text-align: center;

}

button{
  border-radius: 25px;
  width: 200px;
  padding:6px 30px ;
  background: transparent;
  color: white; 
  border: 2px solid white;
  cursor: pointer;
  text-transform: uppercase

}

button:hover{
  background-color: white;
  color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade{
  text-align: center
}

.p1{
  position: absolute;
  padding: 20px 0;
  width: 100%;
  color: white;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 34px;
}