.header{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50
}


.header img{
    top: 0;
    bottom: 0;
    margin-left: 30px;
    left: 60px;
    height: 58px;
    width: 240px;
    cursor: pointer;
}

/* .header a{
	color: white;
} */

.image1,.image2{
	display: none
}

.active{
	display: block
}


.normal-header{
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.normal-header a{
	color: #2B5591;
}




/* ****************************************************************  Header *************************************************************************/

nav .dropdown{
	display: flex;
}

.dropdown{
	display: inline-block;
}

.dropdown2:hover .dropbtn{
	text-decoration: underline
} 

.dropdown2:hover .dropdown-content2 {
	display: block
}

.dropdown-content2 a:hover{
	text-decoration: underline;

}

.dropdown-content2 a{
	color:black ;
	padding: 12px 0 12px 20px;
	text-decoration: none;
	display: block;
	color: #2B5591;
	border: 2px solid white
}


.dropdown-content2{
	margin-top: 1vh;
	text-align: justify;
	position: absolute;
	font-size: 16px;
	display: none;
	width: 16vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
	opacity: 0.5;
	color: #2B5591;
}



.dropbtn{
	color: #2B5591;
	padding: 16px;
	font-size: 1.3em;
	font-weight: 300;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.container1 .dropdown-content2{
	text-align: center
}

.menu{
	color: #fff;
    font-size: 2em;
 }


.menucontainer a{
	text-decoration: none;
	cursor: pointer
}

#open ,#close{
	text-decoration: none;
	color:black;
	height:10px

}
 

.menucontainer{
	position: fixed;
	height: auto;
	margin: 0 auto;
	margin-top: 80px;
	width: 100%;
	background-color: white;
	z-index: 8;
    border-top: 2px solid black;
	border-bottom: 2px solid black;
	transform: translateX(-100%)
}


.element{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	
}


.mymenu{
	padding: 8px 0;
}

.menucontainer a{
	color: #2B5591;
	text-decoration: none;
	cursor: pointer

}
.menucontainer a:hover{
	text-decoration: underline;

}

.side-active{
	display:none;
}


.alert {
  padding: 20px;
  margin-top: 100px;
  position: fixed;
  width: 100%;
  z-index: 40;

  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.hideButton{
	display: none
}


@media screen  and (max-width: 700px) {
  
	body, html { font-size: 16px;
		text-decoration: none}

    .header nav{
	  display: block
    }

    .header{
   	  height: 80px;
   	  z-index: 30;
    }

	.header2{
	  	display: none
	}

	.dropbtn{
		display: none
	}

	.header img{
		top:0;
		bottom: 0;
		height: 40px;
		width: 140px;
	}

	.header2 img{
		top: 0;
		bottom: 0;
		height: 40px;
		width: 140px;
	}

	.show1{

		transform: translateX(-100%);
	 	transition: transform 0.5s ;
	}

	ul{
		margin-bottom:0;
	}

	.box ul{
		width: 100%;
		float: none;
		padding: 0;
		text-align: center;
		padding-bottom: 0;
	}
	
	ul{
	  margin-top: 0;
	  margin-bottom: 0;
	}

	.box{
		display: grid
	}

	.box ul li{
		font-size: 14px;
		font-weight: 300;
		padding: 0 5px;
	}

	.show li{
		padding: 0;
	}

	.box .show{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		border-right: none;
		border-bottom: 2px solid #FFAF00;
	}
	.box .mydata .right{
		padding-left: 0;
	}

	.right{
		text-align: center
	}

	.right img{
		margin: 0 auto;
	}

	.box .right p{
		width: 100%;
		text-align: center
	}

	.box .mydata{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 0;
	}

	.btm2{
		margin-top: 40px;
	}

	.btm2 h3{
		margin-top: 40px;
	    font-size: 1.2em;
	    font-weight: 400;
	}


	.section5 .data5 {
		display: flex;
		flex-direction: column;
		
	}


	.section5 .data5 #article {
	    padding: 0 30px;
	}

	.show{
	 	display: block;
	 	transform: translateX(0);
	 	transition: transform 0.5s ;

	 }

	 .dropbtn a{
	 	text-decoration: none
	 }

	 .opt{
	 	display: block;
	 	margin-bottom: 30px;
	 	text-decoration: none;
	 }

	
}


@media screen and (min-width: 700px){

	.box ul li{
	    padding: 16px 0 !important;
	}

	#open{
		display: none
	}
	
}

@media screen and (min-width: 700px){


	.menucontainer{
			display: none
		}

	#open{
		display: none
	}

	#close{
		display: none
	}

}

@media screen and (max-width: 550px)
{
	#youtube {
		display: none
	}


}


@media screen and (max-width: 530px)
{
	*,body{
		display: none
	}
}


.pic{
	font-weight: 800;
	color: dodgerblue;
	height: 90vh;
	display: flex;
	justify-content: center;align-items: center
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body{
	background-color: ivory

}

#block,#sp{
	margin: 0 auto;
	text-align: center
}

.dropbtn{
	text-align: center
}

.block a:hover{
	text-decoration: none;
}


#sp{
	text-align: center;
	background-color: yellow;
	width: 70%;
	height: 2px;
	margin: 0 auto;

	transition: width 1s ease;
}


#sp:hover{


}





