*,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Titillium Web",sans-serif;
}

.container{
	width: 100%;
}

.container img {
	width: 700px;
	height: 286px;
}

.container .articles{
	margin: 0 auto;
	max-width: 700px;
}

.box{
	width: 700px;
}

.box:hover{
	cursor: pointer;
}

.imge{
	width: 700px;
	height: 280px;
	background-image: url('../../Images/Press/master.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}

.article h2{
	line-height: 1.25;
    font-size: 1.4em;
    color: #202A38;
    padding: 10px 0;
    font-weight: 700;
}

a{
	text-decoration: none
}

.article{
	padding: 10px 0;
	margin-bottom: 30px
}

.article h3{
	font-size: 0.9em;
    color: #202A38;
    line-height: 1.4em;
    padding-bottom: 10px;
}

.article a{
	text-transform: uppercase;
    color: #2B5591;
    display: block;
    font-size: 0.7em;
    font-weight: 700;
}

.section0{
	background-image: url('../../Images/sun.jpg');
	min-height: 360px;
    max-height: 560px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}

.section0{
	display: flex;
	justify-content: center;
	align-items: center;
}

.section0 h1{
	height: 90px;
	font-size: 4.5em;
	color: white;
}



@media screen and (max-width: 760px){
	body, html {
	    font-size: 16px;
	}

	.section0{
		width: 100%;
		background-size: 100% 100%;
	}

	.section0 h1{
		font-size: 3em;
		height: 60px;
		font-weight: 400
	}

	.article img,.article{
		width: 90%;	
		margin: 0 auto;
	}

	.article img{
		height: 230px;
	}

	.article{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.article h2,.article h3,.article a{
		margin: 0 auto;
		width: 90%;
	} 
	
	.article h2{
		font-size: 16px;
	}

	.imge{
		margin: 0 auto;
		width: 90%;
	}

	.twitter .boxes,.boxes h2{
		width:90%;
	}

	.boxes .box .head1,.para,.card,.carddown{
		width: 90vw;
	}

	.card img{
		width: 100%;
	}

	#image .card{
		width: 90vw;
	}

	.header img{
		width: 180px;
	}

}

