
#tweet{
	color: #2B5591;
    font-size: 3em;
    padding: 50px 0 60px 0;
    line-height: 1.25;
    font-weight: 300;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.box {
	height:auto;
	width: 60%;
	margin: 0 auto;
}


.box:hover{
	cursor: pointer;
}

.box .head1{
	height: 36px;
	width: 100%;
	display: flex;
	/* float: right */
}

.head2{
	height: 50px;
	width: 100%;
	display: flex;
	/* float: right; */
}

.left{
	background-image: url('../../Images/Press/tweets/nfrnds.jpg');
	width: 36px;
	background-size: 100% 100%;
}

.left1{
	background-image: url('../../Images/Press/tweets/nextbillion.jpg');
	width: 36px;
	background-size: 100% 100%;
}

.right h6{
	font-size: 16px;
}

.right1 h6{
	font-size: 18px;
    line-height: 27px;
}

.right1 p{
	font-size: 14px;
    line-height: 18px;
}


.para{
	width: 100%;
	/* float: right; */
	font-size: 21px;
    line-height: 27px;
    font-weight: 300;
    margin-bottom: 40px;
    padding-top:15px ;
}

.card{
	border: 1px solid gray;
	border-radius:10px ;
	overflow: hidden;
	width: 100%;
	/* float: right;	 */
}

.card p{
	font-size: 12px;
	padding: 4px;
	padding-left: 10px;
}

.carddown{
	border-bottom: 1px solid gray;
	width: 100%;
	/* float: right; */
}

.carddown p{
	font-size: 12px;
	padding: 4px;
	padding-left: 10px;

}


#p1{
	font-weight: bold;
	width: 60%;
}

#p2{
	padding-bottom: 20px;
	line-height: 16px;
	width: 60%;
}

.option{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.like,.date{
	padding-top: 10px;
	color: gray;
	
}

#image{
	display: flex;
	justify-content: center;
	width:100%;
}


.fit{
	background-image:url('../../Images/Press/tweets/img1.jpeg');
	width:332px;
	height:200px;
	background-size: 100% 100%;
}


.im1{
	width: 30%;
	background-image: url("../../Images/Press/tweets/nb.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #E1E8ED
}

.im2{
	width: 70%;
}

.play{
	display: flex;
	justify-content: center
}


/* 
@media screen and (max-width: 768px){ */
	/* body, html {
	    font-size: 16px;
	}

	.section0{
		width: 100%;
		background-size: 100% 100%;
	}

	.section0 h1{
		font-size: 3em;
		height: 60px;
	}

	.article img,.article{
		width: 90%;	
		margin: 0 auto;
	}

	.article img{
		height: 230px;
	}

	.article{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.article h2,.article h3,.article a{
		margin: 0 auto;
		width: 90%;
	} 
	
	.article h2{
		font-size: 16px;
	}

	.imge{
		margin: 0 auto;
		width: 90%;
	}

	.twitter .boxes,.boxes h2{
		width:90%;
	}

	.boxes .box .head1,.para,.card,.carddown{
		width: 90vw;
	}

	.card img{
		width: 100%;
	}

	#image .card{
		width: 90vw;
	}

	.header img{
		width: 180px;
	}

	.para{
		width: 90%;
	
		font-size: 18px;
	    line-height: 23px;
	    font-weight: 300;
	}
 */

 @media screen and (max-width: 768px){

 	.box{
 		width: 85%;
 	}

 	.para{
 		font-size: 18px;
 	}

 	#tweet{
 		width: 85%;
 	}

 	.im2{
 		font-size: 14px;
 	}

 	.im1{
 		width: 30%;
 	}





}


@media screen and (max-width: 540px){


	.box{
 		width: 90%;
 	}

 	.para{
 		font-size: 18px;
 	}

 	#tweet{
 		width: 85%;
 	}

 	.im2{
 		font-size: 14px;
 	}

 	.im1{
 		width: 30%;
 	}








}



@media screen and (max-width: 425px){



}



@media screen and (max-width: 375px){

	body,*{
		display: none
	}



}




