.container {
   height: 90vh;
   border: 1px solid black;
   background: ghostwhite;
   overflow: hidden;
   display: flex;
   align-items: stretch;
   flex-direction: column;
   font-family: -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
   font-family: monospace;
   font-size: 5vh;
   position: relative;
}

.container main{
   color: black;
}
 main {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
 main p {
   font-size: 1rem;
   text-align: center;
   margin-top: 5vh;
   padding: 0 2rem;
   max-width: 30rem;
   line-height: 1.4;
}
 .header, footer {
   line-height: 5vh;
   font-size: 3vh;
   background: hotpink;
   box-shadow: 1px ivory;
   text-align: right;
   text-transform: uppercase;
   padding: 0 2.5vh;
}

.header{
   height: 8vh;
   font-family: cursive;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-weight: 700;
   word-spacing: 10px;
   letter-spacing: 2px
}

.header span:nth-child(2){
 position: absolute;
 right:2vw;
 display: none
}

footer{
   height: 8vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#score{
   font-size:6vh ;
   color: white;
}

.word{
   font-size: 5vh;
   padding: 0 2vh;
   font-family: cursive;
   text-transform: capitalize;
   color: white;
}

/* Handle hear */

 main > div {
   position: absolute;
   top: 5vh;
   left: 0;
   text-transform: uppercase;
   perspective: 300px;
   transition: opacity 0.7s ease-in;
   font-size: 5vh;
}
 main > div.popped {
   opacity: 0;
}
 main > div.popped > span {
   animation-play-state: paused;
}
 main > div.popped > span b {
   opacity: 0;
}
 main > div.missed {
   opacity: 0;
}
 main > div.missed > span {
   animation-play-state: paused;
}
 main > div > span {
   position: absolute;
   display: block;
   animation: waver 2s infinite alternate ease-in-out;
   perspective: 300px;
}
 main > div > span b {
   display: block;
   padding: 2.5vh;
   transition: opacity 0.25s linear;
}
 @keyframes waver {
   100% {
     transform: translate3d(6vw, 0, 0);
  }
}
 #game-over {
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.75s ease-out;
   background: rgba(0, 0, 0, .75);
   position: absolute;
   top: 8vh;
   right: 0;
   bottom: 8vh;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-transform: uppercase;
   cursor: pointer
}
 #game-over.indeed {
   opacity: 1;
   pointer-events: auto;
}
 button,#restart {
   appearance: none;
   border-radius: 0;
   border: 0.2rem solid #eee;
   opacity: 1;
   font-size: 2.5vh;
   padding: 1.5vh 2vh;
   background: transparent;
   margin-top: 5vh;
   font-family: monospace;
   cursor: pointer;
   color: green;
}


#game-over #restart{
   color: green;
   border-radius: 15px
}

.exit{
   cursor: pointer
}

.exit:hover{
   color: dodgerblue;
   -webkit-transform: scale(1.2) translate3d(0,1vh,2vh) rotateZ(360deg);
      -moz-transform: scale(1.2) translate3d(0,1vh,2vh) rotateZ(360deg);
       -ms-transform: scale(1.2) translate3d(0,1vh,2vh) rotateZ(360deg);
        -o-transform: scale(1.2) translate3d(0,1vh,2vh) rotateZ(360deg);
           transform: scale(1.2) translate3d(0,1vh,2vh) rotateZ(360deg);
  -webkit-transition: transform 1s ease;
     -moz-transition: transform 1s ease;
      -ms-transition: transform 1s ease;
       -o-transition: transform 1s ease;
          transition: transform 1s ease;        
}


#game-over p:nth-child(1){

   color: red;
   font-size: 1.9em;
}

#game-over #restart:hover{
   border:none;
   background-color: green;
   color: white;
   padding: 2vh;
   letter-spacing: 1px
}

 button:hover {
   border-radius: 3px;
   border-color: gray;
   transition: border-color 2s ease
}
 