*,body{
  margin: 0;
  padding: 0;
  font-family: "Titillium Web",sans-serif;
}

a{
  text-decoration: none;
}

.section0{
  background-image: url('../../Images/About/background.jpg');
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:360px;
  max-height: 500px
}

li:hover{
  cursor: pointer;
  text-decoration: underline;
  transition: 0.4s
}

.data0{
  display: flex;
  justify-content: center;
  align-items: center;
}

.data0 h1{
  color: white;
  font-size: 4.5rem;
  height:90px;
}


.data1{
  width: 85%;
  margin: 0 auto;
}

.data1 ul {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}


li{
  list-style: none;
  font-size: 1.2em;
}

.text{
  width: 700px;
  margin: 0 auto;
}

.text h1{
    color: #2B5591;
    font-size: 3em;
    padding: 0 0 60px 0;
    line-height: 1.25;
    font-weight: 300;
}

.text p{
  font-size: 1.2em; 
  font-weight: 500; 
  margin-bottom: 0.6em;
}

#social{
    color: #2B5591;
    font-size: 3em;
    line-height: 1.25;
    font-weight: 300;
}

.text1{
  width: 780px;
  margin: 0 auto;
}

 .data3{
  margin: 0 auto;
  width: 85%;
 
}

p{
  margin-top: 25px;
  font-size: 21px;
  color: rgb( 47, 47, 47 );
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1

}

.section2{
  background-image: url('../../Images/About/blue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:auto;
  background-size: 100% 100%;
  padding: 25px 0;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.people{
  width: 250px;
}

.row1,.row2{
  display: flex;
  justify-content: center
}

.row1 .people img{
  margin:0 auto ;
}

.c p{
  color: white;
}
.c{
  color: white;
}

.section2 h2{
  font-weight: 700;
  font-size: 30px;
}


#dark{
  font-weight: 800;
}

#dd{
  font-size: 1.6em;
}

.people img{
  border-radius: 50%;
  text-align: center;
  width: 190px;
  height: 190px;


}
.people{
  text-align: center;
  padding-bottom: 20px ;
}


.people p{
  font-size: 0.8em;
  color: #686868;
  line-height: 1.25;
  padding: 0 10px;
  text-align: center
}

.people h3{
  color: #2B5591;
  font-size: 0.7em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;

}

.people h2{
  color: #4A4A4A;
  font-size: 1em;
  line-height: 1.25;
  padding-bottom: 6px;
  text-align: center;
  font-weight: 700;
}

.data3 {
  padding: 30px 0;
  text-align: center
}

.list{
  width: 700px;
  padding: 20px 0;
}

.data5{
  color: rgb( 47, 47, 47 );
  line-height: 26px;
  font-weight: 400;
}

.imge {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px
}  

.imge img{
  height: 96px;
  width: 96px;
  padding: 0 2px;
}

.imge img:hover{
  cursor: pointer
}

.section4{
  background-image: url('../../Images/About/imagedown2.jpg');
  background-attachment: fixed;
}

button{
  border-radius: 25px;
  border: 2px solid #102749;
  color: #2B5591;
  text-align: center;
  background: transparent;
  padding: 5px 20px;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: 0.3s ease 
}

.section6{
   background-image:url('../../Images/About/young.png');
   background-attachment: fixed;
   padding-bottom: 100px;
   padding-top: 20px
}

.data6 button:hover{
  background-color:#102749; 
  color: white;
}


.data6 p{
  margin: 25px 0;
  font-size: 20px;
  color: rgb( 47, 47, 47 );
}


#social {
  padding: 30px 0;
}

hr{
  margin: 25px 0;
}

.data4{
  padding-bottom: 80px
}


@media screen  and (max-width: 768px) {

  .section0{
    height: 30vh;
  }

  .data0 h1{

  }

  .data1{
    margin: 0 auto;
    justify-content: center;
  }

  .data1{
    width: 95%;
  }

  .data1 ul {
    width: 90%;
    flex-wrap: wrap;
    margin:0 auto ;
   
  }

  .data1 li{
    font-size: 1.1em;
  }
  .data1 .text h1{
    text-align: justify
  }

  .data2 {
    padding: 20px 0;
  }

  .data2 h2{
    text-align: center
  }

  .text {
    width: 85%;
  }

  .text h1{ 
      color: #2B5591;
      font-size: 2.3em;
      line-height: 1.05;
      font-weight: 300;
    }

  .text p{
    text-align: justify
  }

  .list{
    width: 90%;
  }

  .data3 h1{
    margin: 0 auto;
    justify-content: center
  }

  .row1,.row2{
    justify-content: center;
    flex-wrap: wrap
  }

  .people{
    margin: 0 auto;
  }

  .data4{
    width: 90%;
    justify-content: center;
  }

  .imge {
    display: flex;
    justify-content: center;
    flex-wrap: wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px
  }  

}


@media screen and (max-width: 768px){

    .data0 h1{
      font-size: 3rem;
      height:80px;
    }

    .text h1{
      color: #2B5591;
      font-size: 2.5em;
      padding: 0 0 60px 0;
      line-height: 1.1;
      font-weight: 300;
    }

    .imge {
      display: flex;
      justify-content: center;
      flex-wrap: wrap
     
    }  



}

@media screen and (max-width: 540px){

    .data0 h1{
      font-size: 2.5em;
    }

    .text h1{
      font-size: 1.9em;
    }

    .imge {
      display: flex;
      justify-content: center;
      flex-wrap: wrap
     
    }  

}


@media screen and (max-width: 425px){

  .data0 h1{
      font-size: 2em;
    }

}


@media screen and (max-width: 350px){

  body{
    display: none
  }
}



