
.container-table100 {
  width: 90%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}




table {
  font: sans-serif;
	border-spacing: 1;
	border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  width:80%;
  margin-left:15%;
  margin-top: 80px;
  
}

table, th, td {
  text-align: center;
   font-family: Arial, Helvetica, sans-serif;
  
}

th, td {
  text-align: center;
  padding: 15px;

}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}

tr{
	text-align: center;
}

.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}










