.img{
	opacity: 1;
	height: 30px;
	width: 30px;
}

.container{
	margin-top: 5px;
	max-height:120px ;
	width: 100%;
	overflow-x: scroll;
	box-shadow:0 0 10px gray;

}

.tooltop img{
	margin: auto;
}

.hide{
	display: none
}

ol{
	padding: 0 20px;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	height: 90px;
	width: max-content;
	margin-top: 10px;
	
}

ol::-webkit-scrollbar {
	    display: none;
	}

.container::-webkit-scrollbar{
	display: none
}	

ol li{
	height: 100%;
	cursor: pointer;
	padding:0 30px;
	padding-top: 10px;
}

ol li:hover{
    /* transform: scale(1.1); */
    background-color: mintcream;
    transition:transform 0.2s ease-in;

}


.tooltip {
  position: relative;
  display: inline-block;
  text-align: center
}

.stripe1{
	width: 100%
}

#stripe1 .bar{
	display: inline-block;
	margin: auto;
}

.blue{
	 box-shadow:0 0 2px gray;
}

.container-p{
	background-color:white;
	 box-shadow:0 0 10px gray;
}


.category-name
{
	max-width: 500px;
}
.alpha-a{
	width: 100%;
	height: 70px;
	background: radial-gradient(dodgerblue,deepskyblue);
	box-shadow: 0 0 3px white;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color:magenta;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  top: 10%;
  left:-25%;
  margin-left: -60px;
  font-size: 9px;
}



.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 98%;
  margin-top:-3px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent magenta;
}

.tooltip:hover .tooltiptext {
	  visibility: visible;
	  transition: visibility .25s ease;
}

a{
	font-size:13px
}

.transform{
	transform: scale(1.2);
    transition:transform 0.2s ease-in;
    color: hotpink;
}

.img:hover{
	opacity: 1
}

.stripe1{
	margin-bottom:1px ;
	margin-top: 80px;
	width: 100%;
	position: relative;
	background:linear-gradient(deepskyblue,skyblue);
}


.stripe1 {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.stripe1 h2{
	min-width: 30%;
	margin-left: 2%;
	cursor: pointer;
	color: currentcolor;
    text-shadow: 1px 0.5px white;
}

.alpha{
	margin-top: 15px
}

.select-bars{
	width: 100%;
	margin-right: 2%;
	display: contents;
}


#apni{
	width:100%;
	display: flex;
	justify-content: space-between
}

.container-x{
	margin: 0 15px ;
}


#stripe1{
	min-width:50%;
	display:flex;
	justify-content:flex-end;
	align-items: center;
	margin:0 10px
}



